.ico { background: url(~sprite.png)  no-repeat; background-size: 310px 310px;}
.ico-a { width: 110px; height: 110px; background-position: -200px 0px; }
.ico-b { width: 110px; height: 110px; background-position: 0px -200px; }
.ico-c { width: 200px; height: 200px; background-position: 0px 0px; }